.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fefefe;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.login-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
  font-size: 13px;
}

.forgot-password a {
  text-decoration: none;
  color: #000;
}

.login-form button {
  background-color: #000;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
